# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
*.dylib

# Compilation
lib/build/
CMakeCache.txt
CMakeFiles
Makefile
*.o

# Example file outputs
*.molden
*.npy
*.log
*.log.*
*.dat
*.out
*.err
*.swp
*.chk

# OSX
.DS_Store

# Profiling
profile*
report*

# assorted garbage
test_all.sh
*.status
*.rasscf.h5
*.inp
*.timing
*.ods
*.tab
*.txt

